.aboutContainer {

    .aboutTitle {
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;
    }

    .about {
        width: 960px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        flex-direction: row;
        margin-bottom: 140px;

        .summary {
            width: 275px;
            font-size: 20px;
        }

        .technologies {
            width: 275px;
            font-size: 20px;
        }

        .backEnd {
            width: 275px;
            font-size: 20px;
        }
    }
}