.aboutContainer {
    
    margin-top: 25px;
    // .aboutTitle {
    //     text-align: center;
    //     font-size: 50px;
    //     margin-bottom: 20px;
    // }

    .about {
        // width: 960px;
        // margin: auto;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        flex-direction: column;
        margin-bottom: 140px;

        @media all and (min-width: 512px) {
            // margin-left: 525px;
            flex-direction: row;
            justify-content: center;
        }

        .about-block {
            // width: 275px;
            font-size: 20px;
            padding: 10px;
            border-left: solid darkgreen 2px;
            border-top: solid darkgreen 2px;
            border-radius: 5px;
            // height: 278px;
            margin-right: 16px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .summary {
            // width: 275px;
            font-size: 20px;
            padding: 10px;
            border-left: solid darkgreen 2px;
            border-top: solid darkgreen 2px;
            border-radius: 5px;
            height: 278px;
        }

        .technologies {
            // width: 275px;
            font-size: 20px;
            padding: 10px;
            border-left: solid darkgreen 2px;
            border-top: solid darkgreen 2px;
            border-radius: 5px;
            height: 235px;
        }

        .backEnd {
            // width: 275px;
            font-size: 20px;
            padding: 10px;
            border-left: solid darkgreen 2px;
            border-top: solid darkgreen 2px;
            border-radius: 5px;
        }
    }
}