.contact-container {
  padding-top: 50px;
	border-bottom: solid $primary-dark;

	.heading-l {
		text-align: center;
  }
  
	.contact-section {
		text-align: center;
    padding-bottom: 25px;
    
		@media all and (max-width: 768px) {
			flex-direction: column;
			left: 10;
    }

    .description {
      margin-bottom: 24px;
      font-weight: bold;
    }
    
		.info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media all and (min-width: 512px) {
				flex-direction: row;
      }
      
      .contact-icon {
        margin-right: 8px;
      }

      .info-block {
        margin-bottom: 12px;

        a, p {
          color: $primary-dark;
          display: inline-block;
          font-weight: bold;
        }

        a {
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: $primary-light;
          }
        }
      }
		}
	}
}
