.contactContainer {
    margin-top: 150px;

    .contact {
        width: 960px;
        margin: auto;

        .contactHeader {
            text-align: center;
            font-size: 50px;
        }
        .contactSection {
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 25px;

            .self {
                height: 250px;
            }

            #phoneIcon {
                color: darkgreen;
                font-size: 20px;
                margin-left: 145px;
                margin-right: 10px;
            }
            #mailIcon {
                color: darkgreen;
                font-size: 20px;
                margin-left: 145px;
                margin-right: 10px;
            }
            #linkedinIcon {
                color: darkgreen;
                font-size: 20px;
                margin-left: 145px;
                margin-right: 10px;
            }
            .linkedinUrl {
                text-decoration: none;
                cursor: pointer;
                color: black;
            }
            #githubIcon {
                color: darkgreen;
                font-size: 20px;
                margin-left: 145px;
                margin-right: 10px;  
            }
            .githubLink {
                text-decoration: none;
                cursor: pointer; 
                color: black;
            }
            #fileIcon {
                color: darkgreen;
                font-size: 20px;
                margin-left: 145px;
                margin-right: 10px; 
            }
            .resumeLink {
                text-decoration: none;
                cursor: pointer; 
                color: black;  
            }

        }

    }
}