.homeContainer {

	.home {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 400px;

		@media all and (min-width: 512px) {
			height: 500px;
		}

		.blurb-top {
			font-size: 32px;
			margin-bottom: 20px;
			text-align: center;
			color: $primary-dark;
			
			@media all and (min-width: 512px) {
				font-size: 48px;
			}
		}

		.blurb-bottom {
			font-size: 24px;
			text-align: center;
		}
	}
}
